.holder {
    height: 200px;
    width: 300px;
    border: 2px solid black;
    display: flex;
    flex-direction: row;
    justify-content:space-evenly;
    flex-wrap: wrap;
    align-items: stretch;
}
/* Your CSS Code here. */